<!DOCTYPE>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/Controller/flip.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

	</head>
	<body>
		
		<h1>BRAIN GAME</h1>
		
		<iframe id="video" src="https://www.youtube.com/embed/uNinYFJEAIM?autoplay=1"></iframe>
		<br><br><button id="skip" type="button" onclick="skip();">Skip Tutorial</button>
		
		
		<link rel="stylesheet" type="text/css" href="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/flip.css">

	</body>

	</html>
