<!DOCTYPE>
    <html>
        <head>
		<link rel="stylesheet" type="text/css" href="/COMP4711/MemoryGame/flip.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/Model/fetchdata.js"></script>
		<link rel="stylesheet" type="text/css" href="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/flip.css">

        </head>
        <body>
            <h1>LEADER BOARD</h1>
            <button type="button" onclick="restart();"></button>
        </body>
    </html>