<!DOCTYPE>
<html>
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/Model/submit.js"></script>
    </head>
    <body id="summary">
        <div id="form">
            <form method="get">
                User name: <input type="text" name="fname" id="name"><br>
                
            </form>
            <button type="button" id="restart" onclick="restart();" formtarget="_self" >RESTART</button>
            <button type="submit" id="submit" formtarget="_self" onclick="submit();">SUBMIT</button>
        </div>
		<link rel="stylesheet" type="text/css" href="/Users/phanvy/Documents/term4/web/vyyphan/COMP4711/MemoryGame/flip.css">

    </body>
</html>